<div class="product">
    <h3>水果店</h3>
    <table class="table table-striped">
        <tr>
            <td><strong>种类</strong></td>
            <td><strong>价格</strong></td>
        </tr>
        <tr>
            <td>苹果</td>
            <td>￥5</td>
        </tr>
        <tr>
            <td>香蕉</td>
            <td>￥3</td>
        </tr>
        <tr>
            <td>梨</td>
            <td>￥5</td>
        </tr>
        <tr>
            <td>青枣</td>
            <td>￥2</td>
        </tr>
        <tr>
            <td>苹果</td>
            <td>￥5</td>
        </tr>
        <tr>
            <td>香蕉</td>
            <td>￥3</td>
        </tr>
        <tr>
            <td>梨</td>
            <td>￥5</td>
        </tr>
        <tr>
            <td>青枣</td>
            <td>￥2</td>
        </tr>
        <tr>
            <td>苹果</td>
            <td>￥5</td>
        </tr>
        <tr>
            <td>香蕉</td>
            <td>￥3</td>
        </tr>
        <tr>
            <td>梨</td>
            <td>￥5</td>
        </tr>
        <tr>
            <td>青枣</td>
            <td>￥2</td>
        </tr>
        <tr>
            <td>苹果</td>
            <td>￥5</td>
        </tr>
        <tr>
            <td>香蕉</td>
            <td>￥3</td>
        </tr>
        <tr>
            <td>梨</td>
            <td>￥5</td>
        </tr>
        <tr>
            <td>青枣</td>
            <td>￥2</td>
        </tr>
        <tr>
            <td>苹果</td>
            <td>￥5</td>
        </tr>
        <tr>
            <td>香蕉</td>
            <td>￥3</td>
        </tr>
        <tr>
            <td>梨</td>
            <td>￥5</td>
        </tr>
        <tr>
            <td>青枣</td>
            <td>￥2</td>
        </tr>
        <tr>
            <td>苹果</td>
            <td>￥5</td>
        </tr>
        <tr>
            <td>香蕉</td>
            <td>￥3</td>
        </tr>
        <tr>
            <td>梨</td>
            <td>￥5</td>
        </tr>
        <tr>
            <td>青枣</td>
            <td>￥2</td>
        </tr>
        </tr>
        <tr>
            <td>香蕉</td>
            <td>￥3</td>
        </tr>
        <tr>
            <td>梨</td>
            <td>￥5</td>
        </tr>
        <tr>
            <td>青枣</td>
            <td>￥2</td>
        </tr>
        <tr>
            <td>苹果</td>
            <td>￥5</td>
        </tr>
        <tr>
            <td>香蕉</td>
            <td>￥3</td>
        </tr>
        <tr>
            <td>梨</td>
            <td>￥5</td>
        </tr>
        <tr>
            <td>青枣</td>
            <td>￥2</td>
        </tr>
    </table>
</div>